
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEntradaLabel" data-translate="coffeeShopApp.entrada.home.createOrEditLabel">Create or edit a Entrada</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.entrada.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.entrada.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coffeeShopApp.entrada.kg" for="field_kg">Kg</label>
            <input type="number" class="form-control" name="kg" id="field_kg"
                    ng-model="vm.entrada.kg"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coffeeShopApp.entrada.fecha" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}" ng-model="vm.entrada.fecha" is-open="vm.datePickerOpenStatus.fecha"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="coffeeShopApp.entrada.beneficio" for="field_beneficio">Beneficio</label>
            <select class="form-control" id="field_beneficio" name="beneficio" ng-model="vm.entrada.beneficio" ng-options="beneficio as beneficio.id for beneficio in vm.beneficios track by beneficio.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="coffeeShopApp.entrada.tipo" for="field_tipo">Tipo</label>
            <select class="form-control" id="field_tipo" name="tipo" ng-model="vm.entrada.tipo" ng-options="tipo as tipo.id for tipo in vm.tipos track by tipo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
