
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReservaTipoLabel" data-translate="coffeeShopApp.reservaTipo.home.createOrEditLabel">Create or edit a Reserva Tipo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.reservaTipo.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.reservaTipo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coffeeShopApp.reservaTipo.cantidad" for="field_cantidad">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                    ng-model="vm.reservaTipo.cantidad"
                    required min="0" />
            <div ng-show="editForm.cantidad.$invalid">
                <p class="help-block"
                    ng-show="editForm.cantidad.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.cantidad.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.cantidad.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="coffeeShopApp.reservaTipo.tipo" for="field_tipo">Tipo</label>
            <select class="form-control" id="field_tipo" name="tipo" ng-model="vm.reservaTipo.tipoId" ng-options="tipo.id as tipo.nombre for tipo in vm.tipos"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group col-lg-6 col-md-6 ">
            <label data-translate="coffeeShopApp.reservaTipo.reserva" for="field_reserva">Reserva</label>
            <select class="form-control" id="field_reserva" name="reserva" ng-model="vm.reservaTipo.reservaId" ng-options="reserva.id as reserva.id for reserva in vm.reservas"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
