<div>

    <div class="col-md-8" >
        <h2 data-translate="coffeeShopApp.reserva.home.title" >Reservas</h2>
        <jhi-alert></jhi-alert>

        <br/>

        <div class="table-responsive ">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="fechaEntrega"><span data-translate="coffeeShopApp.reserva.fechaEntrega">Fecha Entrega</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usuarioLogin"><span data-translate="coffeeShopApp.reserva.usuario">Usuario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="reserva in vm.reservas track by $index">

                    <td>{{reserva.fechaEntrega | date:'medium'}}</td>
                    <td>
                        {{reserva.usuarioLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="reservaang-detail({id:reserva.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        </div>
    </div>

    <div class="col-md-4" style="border: 1px solid gray; border-radius:10px;">
        <h2 data-translate="coffeeShopApp.reserva.home.title4" >Reservas</h2>


        <br/>

        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="fechaEntrega"><span data-translate="coffeeShopApp.reserva.fechaEntrega">Fecha Entrega</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="usuarioLogin"><span data-translate="coffeeShopApp.reserva.usuario">Usuario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="requestForTomorrow in vm.requestsForTomorrow track by requestForTomorrow.id">

                    <td>{{requestForTomorrow.fechaEntrega | date:'medium'}}</td>

                    <td>
                        {{requestForTomorrow.usuarioLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="reservaang-detail({id:requestForTomorrow.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
