
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReservaLabel" data-translate="coffeeShopApp.reserva.home.createOrEditLabel">Create or edit a Reserva</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.reserva.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.reserva.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coffeeShopApp.reserva.fechaEntrega" for="field_fechaEntrega">Fecha Entrega</label>
                <div class="input-group">
                    <input id="field_fechaEntrega" type="text" class="form-control" name="fechaEntrega" datetime-picker="{{dateformat}}" ng-model="vm.reserva.fechaEntrega" is-open="vm.datePickerOpenStatus.fechaEntrega"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaEntrega')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coffeeShopApp.reserva.recursivo" for="field_recursivo">Recursivo</label>
            <input type="checkbox" class="form-control" name="recursivo" id="field_recursivo"
                    ng-model="vm.reserva.recursivo"
                     />
        </div>

        <div class="form-group">
            <label data-translate="coffeeShopApp.reserva.usuario" for="field_usuario">Usuario</label>
            <select class="form-control" id="field_usuario" name="usuario" ng-model="vm.reserva.usuario" ng-options="usuario as usuario.id for usuario in vm.usuarios track by usuario.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
